@media only screen and (min-width: 56em) {

    .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }

    .row-cols-3>* {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    figure:hover {
        box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    }

    #header-h1 {
        font-size: 3rem;
        font-weight: 900;
        color: var(--ochre-yellow);
        text-align: center;
    }

    #header-slogan {
        font-weight: bold;
        font-family: "Open Sans", sans-serif;
        color: var(--yellow-300);
        font-size: 1.1em;
        font-style: italic;
        text-align: center;
        margin: 1.5rem 0 1rem 0;
    }
}