/* COLORS
----------------------------------*/
:root {
    --dark-grey: #121212;
    --neutral-1000: #24292e;
    --neutral-900: #383f45;
    --neutral-800: #454c52;
    --neutral-700: #596066;
    --neutral-600: #676e76;
    --neutral-500: #7f8790;
    --neutral-400: #9ea5ad;
    --neutral-300: #ced2d6;
    --neutral-200: #e5e7ea;
    --neutral-100: #f6f7f9;

    --yellow-500: #ff991f;
    --yellow-400: #ffab00;
    --yellow-300: #ffc400;
    --yellow-200: #ffe380;
    --yellow-100: #fff0b3;

    --red-500: #de350b;
    --red-400: #ff5630;
    --red-300: #ff7452;
    --red-200: #ff8f73;
    --red-100: #ffbdad;

    --primary-blue: #303f9f;
    --blue-500: #00a3bf;
    --blue-400: #00b8d9;
    --blue-300: #00c7e6;
    --blue-200: #79e2f2;
    --blue-100: #b3f5ff;

    --violet-500: #a239a0;
    --violet-400: #c054be;
    --violet-300: #c270c0;
    --violet-200: #d6a9d5;
    --violet-100: #e1c7e0;

    --green-500: #006644;
    --green-400: #00875a;
    --green-300: #36b37e;
    --green-200: #57d9a3;
    --green-100: #abf5d1;

    --dark-red: #8f0031;
    --ochre-yellow: #f79b19;
    --sea-green: #028fa3;
    --baby-blue: #00a8cc;
    --violet: #91198e;
}

@media only screen and (min-width: 32.5em) {

    /* VARIABLE
    ----------------*/

    section {
        grid-template-columns: repeat(2, 1fr);
    }

    /* STATIC
    ----------------*/
    header {
        height: 125px;
    }

    header {
        justify-content: flex-start;
    }

    main {
        width: 75%;
        margin: auto;
    }

    #header-h1 {
        font-size: 3em;
        font-weight: 900;
        font-family: "Red Hat Display", sans-serif;
        color: var(--ochre-yellow);
        margin-right: 10px;
        margin-top: 15px;
    }

    #we-logo {
        height: 100px;
        margin-left: 47%;
    }

	.nav-bar {
		display: flex;
	}

    .nav-bar li {
		display: block;
		flex: 1 1 auto;
    }

    .nav-bar a {
		text-align: center;
	}
	.nav-bar li:first-child {
		display: none;
    }

    footer {
        font-size: 1em;
        width: 80%;
        margin: auto;
    }
}