@media only screen and (min-width: 32.5em) {

    /* MAIN CONTENT
    --------------------------------------*/
    #heropic img {
        width: 60%;
        margin-left: 20%;
    }

    #Weather_Today {
        left: 15%;
    }

    .Fiveday_Forecast {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-content: center;
        width: 50%;
        margin: auto;
    }

    #Scoots_Forecast {
        display: block;
        text-align: center;
    }

    .Fiveday_Forecast div {
        text-align: center;
        font-size: 1.5rem;
    }

    form label.top input, form label.top select {
        max-width: 20rem;
    }

    #contact_ferry, #contact_terminal {
        grid-template-columns: 1fr 1fr;
    }

    #contact_terminal p {
        text-align: left;
    }

    #contact_ferry p {
        text-align: left;
    }

    .tours_gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    figure:hover {
        box-shadow: 1px 1px 8px 5px #59C1FF;
    }

    #rental_item {
        grid-template-columns: 1fr 1fr;
    }

    .map iframe {
        border-top-right-radius: 1px;
        border-bottom-right-radius: 1px;
    }

    .contact_card {
        padding-top: 15%;
    }

    /* CORE
    --------------------------------------*/
    #heading1 {
        margin-left: 45px;
        font-size: 2.5rem;
    }

    header {
        justify-content: flex-start;
    }

    header {
        background-image: url("../images/filler/filler_1_orignal.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
    }

    #heading2 {
        color: black;
    }

    #scoots-logo {
        margin-left: 25px;
        margin-top: 25px;
    }

    .navMenu {
        display: flex;
    }

    .navMenu li {
        display: block;
        flex: 1 1 auto;
    }

    .navMenu a {
        text-align: center;
    }

    .navMenu li:first-child {
        display: none;
    }

    .main {
        background: #ffffff;
        position: relative;
        z-index: 3;
    }

    .main-raised {
        margin: -50px 30px 0;
        border-radius: 0.25rem;
        box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    }
}