@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Red+Hat+Display:ital,wght@0,700;0,900;1,700;1,900&display=swap');

/*-- DIRECTORY --

1. Root
2. Main Content
3. Header
4. Navigation
5. Footer
6. Other
7. Core

<link href="https://fonts.gstatic.com" rel="preconnect">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Red+Hat+Display:ital,wght@0,700;0,900;1,700;1,900&display=swap" rel="stylesheet">
*/

:root {
    --ultimate-gray: #939597;
    --illuminating-yellow: #F5DF4D;
    --blue-nights: #373E4B;
    --wild-ginger: #7D4D55;
    --oil-green: #7D876E;
    --shadow-green: #CFC482;

    --dark: #343a40;
    --dark-grey: #121212;
    --neutral-1000: #24292e;
    --neutral-900: #383f45;
    --neutral-800: #454c52;
    --neutral-700: #596066;
    --neutral-600: #676e76;
    --neutral-500: #7f8790;
    --neutral-400: #9ea5ad;
    --neutral-300: #ced2d6;
    --neutral-200: #e5e7ea;
    --neutral-100: #f6f7f9;
    --light: #f8f9fa;

    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;

    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
}

/* MAIN CONTENT
_____________________________________*/
.Fiveday_Forecast {
    display: none;
}

#Scoots_Forecast {
    display: none;
}

.button {
    text-align: center;
    margin-bottom: 5px;
}

.button input {
    border-radius: 12px;
    padding: .5%;
}

.social {
    grid-row: 1;
    max-width: 50px;
    max-height: 50px;
    padding: 5px;
}

.Contact_Us {
    text-align: center;
    border-radius: 12px;
    width: 300px;
    margin: auto auto 10px;
}

.contact {
    grid-row: 1;
}

.Contact_Us p {
    font-size: .8rem;
    text-align: left;
    padding: 2%;
}

.map_icon, .phone, .email {
    max-height: 25px;
    padding-right: 2%;
}

.social {
    max-height: 30px;
}

h2 {
    text-align: center;
    font-size: 2rem;
}

h1 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
    margin: 5px;
    text-decoration: underline;
}

p {
    margin: 0;
    font-size: 1.5rem;
    color: black;
    text-align: center;
}

#elevator_pitch {
    font-size: 1rem;
    font-weight: bold;
    max-width: 600px;
    margin: auto;
    border-radius: 12px;
    padding: 2%;
}

.Scoots_Hero {
    position: relative;
    margin-top: 10px;
}

#heropic img {
    width: 80%;
    margin-left: 10%;
    border-radius: 12px;
}

.Rentals_Carousel {
    max-width: 500px;
    position: relative;
    margin: auto;
}

.scoots_rental_item {
    display: none;
}

.scoots_rental_item img {
    width: 100%;
}

.move_forward, .move_backward {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.move_backward {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.move_forward:hover, .move_backward:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.rental_text {
    font-size: 1rem;
    padding: 8px 12px;
    position: absolute;
    bottom: -10px;
    text-align: center;
}

.rental_number {
    color: black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.carousel_dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

#carousel_indicators {
    text-align: center;
}

.active, .carousel_dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

#rentals {
    margin: auto;
    text-align: center;
}

#Scoots_Rentals {
    margin: auto;
    text-align: center;
}

#rentals p {
    font-size: 1em;
}

#Weather_Today {
    display: grid;
    border-radius: 12px;
    text-align: left;
    padding: 10px;
    width: 200px;
    margin: auto;
    position: absolute;
    top: 25px;
    left: 15%;
}

#Weather_Today ul {
    list-style: none;
}

#current_weather {
    text-align: center;
    font-size: 1em;
}

.contact_card {
    padding-top: 0;
}

form {
    max-width: 900px;
    margin: auto;
}

form fieldset {
    margin: 0 2rem 2rem 2rem;
    border-radius: 12px;
    padding: 2rem 2%;
}

form label.top, form div {
    display: block;
    padding-top: 1.5rem;
    font-size: .8rem;
    font-weight: bold;
}

#comments {
    height: 80px;
    width: 200px;
}

#booking_comments {
    display: grid;
}

form label.top input, form label.top select {
    display: block;
    font-size: 1rem;
    border-radius: 5px;
    padding: .75rem;
    width: 100%;
    max-width: 10rem;
}

form input.submitBtn {
    display: block;
    border: none;
    font-weight: bold;
    border-radius: 12px;
    padding: .75rem 1.5rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

#contact_ferry, #contact_terminal {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 700px;
    border-radius: 12px;
    margin: auto auto 10px;
}

#contact_terminal p {
    text-align: center;
    font-size: 1rem;
    padding: 2%;
}

#contact_ferry p {
    text-align: center;
    font-size: 1rem;
    padding: 2%;
}

h4 {
    font-size: 1.5rem;
    text-align: center;
}

.map iframe {
    max-width: 100%;
}

#rental_terms {
    margin: auto auto 10px;
    text-align: center;
    border-radius: 12px;
    padding: 2%;
    max-width: 500px;
}

#rental_terms h3 {
    font-size: 1em;
}

#rental_terms li {
    font-size: 1rem;
    text-align: left;
}

img[data-src] {
    filter: blur(0.2rem);
    transition: filter .5s;
}

img {
    filter: blur(0em);
    transition: filter .5s;
    max-width: 100%;
}

.tours_gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5px;
}

figure {
    border: 1px solid #59C1FF;
}

figcaption {
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

.gallery_title {
    text-align: center;
}

#rental_item {
    display: grid;
    grid-gap: 10px;
}

.rentalDiv {
    border: 2px solid #002D52;
    margin-bottom: 10px;
}

.rentalDetail {
    padding: 2%;
}

.rentalDetail p {
}

.rentalDetail h4 {
    padding: 2%;
    border-radius: 12px;
}

.rentalImage {
    width: 100%;
}

/* HEADER
_____________________________________*/
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#scoots-logo {
    max-width: 200px;
    margin-left: 15px;
    margin-top: 15px;
}

#heading1 {
    margin-left: 55px;
    font-size: 2rem;
}

#heading2 {
    text-align: left;
    font-style: italic;
    font-size: 1.5rem;
    margin-left: 25px;
    color: white;
}

/* NAVIGATION
_____________________________________*/
nav {
    text-align: center;
}

.Nav_Menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.Nav_Menu li:first-child {
    display: block;
    font-weight: bold;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 0.95rem;
}

.Nav_Menu li {
    display: none;
    border: 2px solid black;
}

.Nav_Menu a {
    display: block;
    padding: .8rem 2%;
    text-align: center;
    text-decoration: none;
    color: black;
}

nav ul li a.active {
    color: black;
}

nav ul li a:hover {
    color: #FFB200;
}

.responsive li {
    display: block;
}

.responsiveClose li {
    display: none;
}


/* FOOTER
_____________________________________*/
footer {
    height: 50px;
    width: 100%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 12px;
    font-size: 1rem;
}

footer a:visited {
    color: #002D52;
}

/* CORE
_____________________________________*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--dark-grey);
    text-align: left;
    background-color: var(--neutral-300);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.main {
    background: #ffffff;
    position: relative;
    z-index: 3;
}

.main-raised {
    margin: -50px 30px 0;
    border-radius: 0.25rem;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.card1 {
    max-width: 40rem;
    position: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    background: var(--dark-grey);
    background-clip: border-box;
    width: 100%;
    margin: 1em auto;
    padding: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.card2 {
    max-width: 60rem;
    position: center;
    display: block;
    background: var(--neutral-100);
    background-clip: border-box;
    width: 100%;
    margin: 1em auto;
    padding: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}


.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.jumbotron {
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    background-color: #e9ecef;
    border-radius: 0.25em;
}

@media (min-width: 576px) {
    .jumbotron {
        padding: 1rem 1rem;
    }
}

.jumbotron-fluid {
    padding-right: 0;
    padding-left: 0;
    border-radius: 0;
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}