@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Pacifico&display=swap');

/*-- DIRECTORY --

1. Root
2. Main Content
3. Header
4. Navigation
5. Footer
6. Other
7. Core

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Pacifico&display=swap" rel="stylesheet">
*/

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
/* MAIN CONTENT
_____________________________________*/
.Fiveday_Forecast {
    display: none;
}

#Scoots_Forecast {
    display: none;
}

.button {
    text-align: center;
    margin-bottom: 5px;
}

.button input {
    background-color: #FFB200;
    font-family: Krona One, sans-serif;
    color: #002D52;
    border-radius: 12px;
    padding: .5%;
}

.social {
    grid-row: 1;
    max-width: 50px;
    max-height: 50px;
    padding: 5px;
}

.Contact_Us {
    text-align: center;
    background-color: #FFB200;
    border-radius: 12px;
    border: 2px solid #002D52;
    width: 300px;
    margin: auto;
    margin-bottom: 10px;
}

.contact {
    grid-row: 1;
}

.Contact_Us p {
    font-size: .8em;
    text-align: left;
    padding: 2%;
}

.map_icon, .phone, .email {
    max-height: 25px;
    padding-right: 2%;
}

.social {
    max-height: 30px;
}

h2 {
    color: #002D52;
    text-align: center;
    font-family: "Krona One", sans-serif;
    font-size: 2em;
}

h1 {
    font-size: 2em;
    color: #002D52;
    font-family: "Krona One", sans-serif;
}

h3 {
    font-size: 1.5em;
    margin: 5px;
    color: #002D52;
    text-decoration: underline;
    font-family: "Krona One", sans-serif;
}

p {
    margin: 0;
    font-size: 1.5em;
    color: black;
    text-align: center;
    font-family: "PT Serif", serif;
}

#elevator_pitch {
    font-size: 1em;
    font-weight: bold;
    max-width: 600px;
    margin: auto;
    background-color: #FFB200;
    border: 2px solid #002D52;
    color: #002D52;
    border-radius: 12px;
    padding: 2%;
}

.Scoots_Hero {
    position: relative;
    margin-top: 10px;
}

#heropic img {
    width: 80%;
    margin-left: 10%;
    border-radius: 12px;
}

.Rentals_Carousel {
    max-width: 500px;
    position: relative;
    margin: auto;
}

.scoots_rental_item {
    display: none;
}

.scoots_rental_item img {
    width: 100%;
}

.move_forward, .move_backward {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.move_backward {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.move_forward:hover, .move_backward:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.rental_text {
    color: black;
    background-color: #bbb;
    font-size: 1em;
    padding: 8px 12px;
    position: absolute;
    bottom: -10px;
    text-align: center;
    font-family: "PT Serif", serif;
}

.rental_number {
    color: black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.carousel_dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

#carousel_indicators {
    text-align: center;
}

.active, .carousel_dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

#rentals {
    margin: auto;
    text-align: center;
}

#Scoots_Rentals {
    margin: auto;
    text-align: center;
}

#rentals p {
    font-size: 1em;
}

#Weather_Today {
    display: grid;
    background-color: #59C1FF;
    border-radius: 12px;
    border: 2px solid #002D52;
    text-align: left;
    padding: 10px;
    width: 200px;
    margin: auto;
    position: absolute;
    top: 25px;
    left: 15%;
}

#Weather_Today ul {
    list-style: none;
}

#current_weather {
    text-align: center;
    font-size: 1em;
}

.contact_card {
    padding-top: 0;
}

form {
    max-width: 900px;
    margin: auto;
}

form fieldset {
    margin: 0 2em 2em 2em;
    border: 2px solid #B86602;
    border-radius: 12px;
    padding: 2em 2%;
    font-family: "Krona One", sans-serif;
}

form label.top, form div {
    display: block;
    padding-top: 1.5em;
    color: #002D52;
    font-size: .8em;
    font-weight: bold;
}

#comments {
    height: 80px;
    width: 200px;
}

#booking_comments {
    display: grid;
}

form label.top input, form label.top select {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 5px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 10rem;
    background-color: rgba(0, 0, 0, 0.1);
}

form input.submitBtn {
    display: block;
    border: none;
    background-color: #B86602;
    color: black;
    font-weight: bold;
    border-radius: 12px;
    padding: .75rem 1.5rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 20em;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

#contact_ferry, #contact_terminal {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 700px;
    border: 2px solid #002D52;
    border-radius: 12px;
    margin: auto auto 10px;
}

#contact_terminal p {
    text-align: center;
    font-size: 1em;
    padding: 2%;
}

#contact_ferry p {
    text-align: center;
    font-size: 1em;
    padding: 2%;
}

h4 {
    font-size: 1.5em;
    color: #002D52;
    text-align: center;
}

.map iframe {
    max-width: 100%;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

#rental_terms {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    border: 2px solid #002D52;
    background-color: #002D52;
    border-radius: 12px;
    padding: 2%;
    max-width: 500px;
}

#rental_terms h3 {
    font-size: 1em;
    color: #59C1FF;
}

#rental_terms li {
    font-size: 1em;
    color: white;
    text-align: left;
}

img[data-src] {
    filter: blur(0.2em);
    transition: filter .5s;
}

img {
    filter: blur(0em);
    transition: filter .5s;
    max-width: 100%;
}

.tours_gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5px;
}

figure {
    border: 2px solid #59C1FF;
}

figcaption {
    padding: 5px;
    text-align: center;
    font-family: "PT Serif", serif;
    color: #002D52;
    font-weight: bold;
}

.gallery_title {
    text-align: center;
}

#rental_item {
    display: grid;
    grid-gap: 10px;
}

.rentalDiv {
    border: 2px solid #002D52;
    margin-bottom: 10px;
}

.rentalDetail {
    padding: 2%;
}

.rentalDetail p {
    color: #002D52;
}

.rentalDetail h4 {
    color: #59C1FF;
    background-color: #002D52;
    padding: 2%;
    border-radius: 12px;
}

.rentalImage {
    width: 100%;
}

/* HEADER
_____________________________________*/
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #002D52;
}

#scoots-logo {
    max-width: 200px;
    margin-left: 15px;
    margin-top: 15px;
}

#heading1 {
    margin-left: 55px;
    font-size: 2em;
    color: #59C1FF;
}

#heading2 {
    text-align: left;
    font-style: italic;
    font-size: 1.5em;
    margin-left: 25px;
    color: white;
}

/* NAVIGATION
_____________________________________*/
nav {
    background-color: #B86602;
    text-align: center;
}

.Nav_Menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.Nav_Menu li:first-child {
    display: block;
    font-weight: bold;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 0.95rem;
}

.Nav_Menu li {
    display: none;
    border: 2px solid black;
}

.Nav_Menu a {
    display: block;
    padding: .8rem 2%;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: Krona One, sans-serif;;
}

nav ul li a.active {
    color: black;
    background-color: #FFB200;
}

nav ul li a:hover {
    color: #FFB200;
}

.responsive li {
    display: block;
}

.responsiveClose li {
    display: none;
}


/* FOOTER
_____________________________________*/
footer {
    background-color: #B86602;
    height: 50px;
    width: 100%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 12px;
    font-size: 1em;
}

footer a:visited {
    color: #002D52;
}

/* OTHER
_____________________________________*/

/* CORE
_____________________________________*/