@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*-- DIRECTORY


1. Root
2. Main Content
3. Header
4. Navigation
5. Footer
6. Other
7. Core

<link href="https://fonts.gstatic.com" rel="preconnect">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Red+Hat+Display:ital,wght@0,700;0,900;1,700;1,900&display=swap" rel="stylesheet">
-----------------------------------------------*/

:root {
    --ultimate-gray: #939597;
    --illuminating-yellow: #F5DF4D;
    --blue-nights: #373E4B;
    --wild-ginger: #7D4D55;
    --oil-green: #7D876E;
    --shadow-green: #CFC482;

    --dark: #343a40;
    --dark-grey: #121212;
    --neutral-1000: #24292e;
    --neutral-900: #383f45;
    --neutral-800: #454c52;
    --neutral-700: #596066;
    --neutral-600: #676e76;
    --neutral-500: #7f8790;
    --neutral-400: #9ea5ad;
    --neutral-300: #ced2d6;
    --neutral-200: #e5e7ea;
    --neutral-100: #f6f7f9;
    --light: #f8f9fa;

    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;

    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
}

/* MAIN CONTENT
-----------------------------------------------*/
/*-- RENTALS DISPLAY --*/
#rentals {
    margin: auto;
    text-align: center;
}

#rentalHead {
    margin: auto;
    text-align: center;
}

#rentals p {
    font-size: 1em;
}

.slideshow-container {
    max-width: 500px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.mySlides img {
    width: 100%;
}

.move_carousel_bwd,
.move_carousel_fwd {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.move_carousel_fwd {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.move_carousel_bwd:hover,
.move_carousel_fwd:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: black;
    background-color: #bbb;
    font-size: 1em;
    padding: 8px 12px;
    position: absolute;
    bottom: -10px;
    text-align: center;
    font-family: "PT Serif", serif;
}

.sequence {
    color: black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.carouselDot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

#carousel_dots {
    text-align: center;
}

.active,
.carouselDot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

#rental {
    display: grid;
    grid-gap: 10px;
}

.rentalDiv {
    border: 2px solid #002D52;
    margin-bottom: 10px;
}

.rentalDetail {
    padding: 2%;
}

.rentalDetail p {
    color: #002D52;
}

.rentalDetail h4 {
    color: #59C1FF;
    background-color: #002D52;
    padding: 2%;
    border-radius: 12px;
}

.rentalImage {
    width: 100%;
}


/*-- WEATHER DISPLAY --*/
#weatherToday {
    position: absolute;
    left: 5vw;
    top: 3vw;
    background: radial-gradient(var(--light), var(--neutral-100));
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 1rem;
    opacity: .8;
}

#weatherToday h2 {
    color: var(--dark);
    border-bottom: 2px solid rgba(0, 0, 0, .25);
    padding-bottom: 5px;
}

p.weather_data {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1.25fr;
    column-gap: 10px;
}

.weather_data .label {
    text-align: right;
    font-style: italic;
}

.weather_data .value {
    font-weight: 600;
}

.fiveDay {
    display: none;
}

.social {
    grid-row: 1;
    max-width: 50px;
    max-height: 50px;
    padding: 5px;
}

.Contact_Us {
    text-align: center;
    border-radius: 12px;
    width: 300px;
    margin: auto auto 10px;
}

.contact {
    grid-row: 1;
}

.Contact_Us p {
    font-size: .8rem;
    text-align: left;
    padding: 2%;
}

.map_icon,
.phone,
.email {
    max-height: 25px;
}

.social {
    max-height: 30px;
}

.Scoots_Hero {
    position: relative;
    margin-top: 10px;
}

#heropic img {
    width: 80%;
    margin-left: 10%;
    border-radius: 12px;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.contact_card {
    padding-top: 0;
}

form {
    max-width: 900px;
    margin: auto;
}

form fieldset {
    margin: 0 2rem 2rem 2rem;
    border-radius: 12px;
    padding: 2rem 2%;
}

form label.top,
form div {
    display: block;
    padding-top: 1.5rem;
    font-size: .8rem;
    font-weight: bold;
}

#comments {
    height: 80px;
    width: 200px;
}

#booking_comments {
    display: grid;
}

form label.top input,
form label.top select {
    display: block;
    font-size: 1rem;
    border-radius: 5px;
    padding: .75rem;
    width: 100%;
    max-width: 10rem;
}

form input.submitBtn {
    display: block;
    justify-self: center;
    position: center;
    border: none;
    background-color: var(--blue-nights);
    color: var(--neutral-100);
    padding: 1rem;
    width: 100%;
    max-width: 20rem;
    margin-right: auto;
    margin-left: auto;
    border-radius: 0.25rem;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

#contact_ferry,
#contact_terminal {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 700px;
    border-radius: 12px;
    margin: auto auto 10px;
}

#contact_terminal p {
    text-align: center;
    font-size: 1rem;
    padding: 2%;
}

#contact_ferry p {
    text-align: center;
    font-size: 1rem;
    padding: 2%;
}

img[data-src] {
    filter: blur(0.2rem);
    transition: filter .5s;
}

img {
    filter: blur(0em);
    transition: filter .5s;
    max-width: 100%;
}

.img-raised {
    box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

/* HEADER
-----------------------------------------------*/
.page-header {
    height: 100vh;
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.page-header .page-header-image {
    position: absolute;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.page-header .content-center {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFFFFF;
    padding: 0 15px;
    width: 100%;
    max-width: 880px;
}

.page-header .iframe-container iframe {
    width: 100%;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.header-filter {
    position: relative;
}

.header-filter:before,
.header-filter:after {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
}

.header-filter::before {
    background: rgba(0, 0, 0, 0.5);
}

.header-filter .container {
    z-index: 2;
    position: relative;
}

.clear-filter::before {
    background: none;
}

#scoots-logo {
    max-width: 15rem;
    margin: 0 auto;
}

.heading h1 {
    font-size: 4rem;
    font-weight: 700;
    display: inline-block;
    position: relative;
    text-align: center
}

.heading h2 {
    font-size: 2.5rem;
    font-weight: 600;
    display: inline-block;
    position: relative;
    text-align: center
}

.heading h3 {
    font-size: 1.75rem;
    font-weight: 600;
    display: inline-block;
    position: relative;
    text-align: center
}

.heading p {
    font-size: 1rem;
    font-weight: 400;
    display: inline-block;
    position: relative;
    text-align: center
}


/* NAVIGATION
-----------------------------------------------*/
nav {
    background-color: var(--illuminating-yellow);
    text-align: center;
}

.navMenu {
    border: 0;
    border-radius: 3px;
    padding: 0.625rem 0;
    margin-bottom: 20px;
    color: var(--blue-nights);
    background-color: var(--illuminating-yellow) !important;
    box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15);
}

.navMenu li:first-child {
    display: block;
    font-weight: bold;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 0.95rem;
}

.navMenu li {
    display: none;
}

.navMenu a {
    display: block;
    padding: .8rem 2%;
    text-align: center;
    text-decoration: none;
    color: var(--blue-nights);
    font-weight: 700;
}

nav ul li a.active {
    background-color: var(--shadow-green);
}

nav ul li a:hover {
    color: var(--blue-nights);
}

.responsive li {
    display: block;
}

.responsiveClose li {
    display: none;
}

/* FOOTER
-----------------------------------------------*/
footer {
    display: flex;
    justify-content: center;
    text-align: center;
}

footer a:visited {
    color: #002D52;
}


/* CORE
-----------------------------------------------*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

body {
    margin: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fafafa;
}

[tabindex="-1"]:focus {
    outline: 0 !important;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
    text-decoration: underline;
    cursor: help;
    border-bottom: 0;
}

address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

dt {
    font-weight: 500;
}

dd {
    margin-bottom: .5rem;
    margin-left: 0;
}

blockquote {
    margin: 0 0 1rem;
}

dfn {
    font-style: italic;
}

b,
strong {
    font-weight: bolder;
}

small {
    font-size: 80%;
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sub {
    bottom: -.25em;
}

sup {
    top: -.5em;
}

a {
    color: #9c27b0;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #0a6ebd;
    text-decoration: underline;
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
    outline: 0;
}

pre,
code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

pre {
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
    -ms-overflow-style: scrollbar;
}

figure {
    margin: 0 0 1rem;
}

img {
    vertical-align: middle;
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

table {
    border-collapse: collapse;
}

caption {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: #6c757d;
    text-align: left;
    caption-side: bottom;
}

th {
    text-align: inherit;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

button {
    border-radius: 0;
}

button:focus {
    outline: 1px dotted;
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
    -webkit-appearance: listbox;
}

textarea {
    overflow: auto;
    resize: vertical;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    outline-offset: -2px;
    -webkit-appearance: none;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button;
}

output {
    display: inline-block;
}

summary {
    display: list-item;
    cursor: pointer;
}

template {
    display: none;
}

[hidden] {
    display: none !important;
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

.container {
    width: 100%;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters>.col,
.no-gutters>[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.main {
    background: #ffffff;
    position: relative;
    z-index: 3;
}

.main-raised {
    margin: -50px 30px 0;
    border-radius: 0.25rem;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.jumbotron {
    padding: 1rem 1rem;
    border-radius: 0.25em;
}

@media (min-width: 576px) {
    .jumbotron {
        padding: 1rem 1rem;
    }
}

.jumbotron-fluid {
    padding-right: 0;
    padding-left: 0;
    border-radius: 0;
}

/*-- FLEX CENTER-RELATIVE CARDS --*/
.card-flex-center-40 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    position: center;
    max-width: 40rem;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
        0 6px 30px 5px rgba(0, 0, 0, 0.12),
        0 8px 10px -5px rgba(0, 0, 0, 0.2);
    background: var(--neutral-100);
}

.card-flex-center-60 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    position: center;
    max-width: 60rem;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
        0 6px 30px 5px rgba(0, 0, 0, 0.12),
        0 8px 10px -5px rgba(0, 0, 0, 0.2);
    background: var(--neutral-100);
}

.card-flex-center-80 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    position: center;
    max-width: 80rem;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
        0 6px 30px 5px rgba(0, 0, 0, 0.12),
        0 8px 10px -5px rgba(0, 0, 0, 0.2);
    background: var(--neutral-100);
}

.card-flex-relative-40 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    max-width: 60rem;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
        0 6px 30px 5px rgba(0, 0, 0, 0.12),
        0 8px 10px -5px rgba(0, 0, 0, 0.2);
    background: var(--neutral-100);
}

.card-flex-relative-60 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    max-width: 60rem;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
        0 6px 30px 5px rgba(0, 0, 0, 0.12),
        0 8px 10px -5px rgba(0, 0, 0, 0.2);
    background: var(--neutral-100);
}

.card-flex-relative-80 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    max-width: 80rem;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
        0 6px 30px 5px rgba(0, 0, 0, 0.12),
        0 8px 10px -5px rgba(0, 0, 0, 0.2);
    background: var(--neutral-100);
}

/*-- BLOCK CENTER-RELATIVE CARDS --*/
.card-block-center-40 {
    display: block;
    position: center;
    max-width: 40rem;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
        0 6px 30px 5px rgba(0, 0, 0, 0.12),
        0 8px 10px -5px rgba(0, 0, 0, 0.2);
    background: var(--neutral-100);
}

.card-block-center-60 {
    display: block;
    position: center;
    max-width: 60rem;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
        0 6px 30px 5px rgba(0, 0, 0, 0.12),
        0 8px 10px -5px rgba(0, 0, 0, 0.2);
    background: var(--neutral-100);
}

.card-block-center-80 {
    display: block;
    position: center;
    max-width: 80rem;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
        0 6px 30px 5px rgba(0, 0, 0, 0.12),
        0 8px 10px -5px rgba(0, 0, 0, 0.2);
    background: var(--neutral-100);
}

.card-block-relative-40 {
    display: block;
    position: relative;
    max-width: 40rem;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
        0 6px 30px 5px rgba(0, 0, 0, 0.12),
        0 8px 10px -5px rgba(0, 0, 0, 0.2);
    background: var(--neutral-100);
}

.card-block-relative-60 {
    display: block;
    position: relative;
    max-width: 60rem;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
        0 6px 30px 5px rgba(0, 0, 0, 0.12),
        0 8px 10px -5px rgba(0, 0, 0, 0.2);
    background: var(--neutral-100);
}

.card-block-relative-80 {
    display: block;
    position: relative;
    max-width: 80rem;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
        0 6px 30px 5px rgba(0, 0, 0, 0.12),
        0 8px 10px -5px rgba(0, 0, 0, 0.2);
    background: var(--neutral-100);
}

.empty-card1 {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 0.25rem;
}

.empty-card2 {
    display: flex;
    position: relative;
    max-width: 70rem;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    background: var(--neutral-100);
}

.empty-card3 {
    display: block;
    position: relative;
    max-width: 70rem;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    background: var(--neutral-100);
    margin: auto 0;
}

.content-centered {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.padding05 {
    padding: 0.5rem;
}

.padding1 {
    padding: 1rem;
}

.padding15 {
    padding: 1.5rem;
}

.padding2 {
    padding: 2rem;
}

.padding3 {
    padding: 3rem;
}

.margin-1 {
    margin: 0 1rem;
}

.margin-15 {
    margin: 0 1.5rem;
}

.margin-2 {
    margin: 0 2rem;
}

.content-section {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.content-column {
    flex-basis: 0;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 100%;
}

.col-auto {
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
}

.col {
    flex-basis: 0;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  
  .col-auto {
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }