body {
    margin:5px auto;
    padding:0;
    width: 750px;
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}

h1, h2, h3, h4, h5 {
    color:#FFA000;
    font-weight: 900;
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 80px;
}

p {
    margin: 0 0 10px 0;
    font-size: 1em;
}

nav {
    background-color: #455A64;
    text-align: center;
}

.navigation {
	list-style-type: none;
	margin: 0;
	padding: 0;
    overflow: hidden;
}

.navigation li:first-child {
    display: block;
    font-weight: bold;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
    font-size: 0.95rem;
}

.navigation li {
    display: none;
    border-right: 1px solid white;
}

.navigation a {
	display: block;
    padding: .8rem 2%;
	text-align: center;
	text-decoration: none;
	color: white;
    font-weight: 700;
}

nav ul li a.active {
    color: #1976D2;
    background-color: #59C1FF;
}

nav ul li a:hover {
    color: #1976D2;
}

.responsive li {
    display: block;
}

.responsiveClose li {
    display: none;
}

#ham {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: white;
}

h1{
    font-size: 2em;
    color: #FFA000;
}

h3 {
    margin: 0;
    color: #1C8AFF;
}

h2 {
    color: #FFA000;
}

#subtitle {
    font-size: 1em;
    color: #455A64;
    text-decoration: none;
    font-style: italic;
    text-align: center;
}

#title {
    font-size: 2em;
    color: #FFA000;
    margin: 0;
    text-align: center;
}

section {
    text-align: center;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.content {
    display: block;
    margin: 10px auto;
    border: 1px solid #455A64;
    padding: 15px;
    background-color: #212121;
    color: black;
    font-style: italic;
}

#logo {
    border-radius: 12px;
    height: 60px;
    margin: 10px;
}

footer {
    background-color: #212121;
    height: 50px;
    width: 100%;
    color: white;
    font-size: .8em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media only screen and (min-width: 32.5em) {
    header {
        height: 125px;
    }

    main {
        width: 75%;
        margin: auto;
    }

    #title {
        font-size: 2em;
        margin-right: 10px;
        margin-top: 15px;
    }

    #logo {
        height: 100px;
        margin-left: 40%;
    }

    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 auto;
    }

    .navigation a {
        text-align: center;
    }
    .navigation li:first-child {
        display: none;
    }

    header {
        justify-content: flex-start;
    }

    footer {
        font-size: 1em;
        width: 80%;
        margin: auto;
    }
}

/*Color Scheme

dark-grey #212121
blue-grey #455A64
blue-700 #1976D2
amber-700 #FFA000
red-700 #d32f2f
*/