@media only screen and (min-width: 640px) {

    #weather-hero img img {
        max-width: 75%;
        position: relative;
    }

    .weather-forecast {
        display: block;
        text-align: center;
    }

    .forecast-icon {
        width: 60px;
        height: auto;
    }

    table {
        width: 80%;
        border-collapse: collapse;
        border: 2px solid #000000;
        margin: 0 auto;
    }

    th {
        padding: 16px;
        background-color: #8AA1B1;
    }

    td {
        padding-top: 10px;
        padding-bottom: 15px;
    }
}