@media only screen and (min-width: 32.5em) {
    .navigation {
        display: flex;
        justify-content: space-evenly;
    }

    .navigation li {
        display: block;
        /* change state in small view */
        /* flex: 1 1 auto; */
    }

    .navigation li:first-child {
        display: none;
    }

    #hero img {
        max-width: 75%;
        position: relative;
    }

    #summary {
        width: 250px;
        font-size: 1em;
    }

    header {
        justify-content: flex-start;
    }

    /*----- FORECAST -----*/
    main {
        padding: 0 8rem;
    }

    .forecast {
        display: block;
    }

    /* Forecast Styles */

    .forecast {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .forecast h2 {
        color: #f2e313;
        grid-column: 1/6;
    }

    .forecast div {
        border: 2px solid #f2e313;
    }

    .forecast h4 {
        background-color: #f2e313;
        text-align: center;
        margin: 0;
        padding: 5px 0;
        color: #212026;
    }

    .forecast p {
        text-align: center;
        color: #a3b4bf;
    }

    .forecast img {
        display: block;
        color: #a3b4bf;
        margin: 0 auto;
    }

    /*----- ARTICLE -----*/
    .weather-article-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-top: #f2e313 2px solid;
        grid-gap: .5em;
    }

    .weather-article-img {
        grid-column: 2/3;
        grid-row: 1/3;
        padding-top: 20px;
    }

    /*----- CONTACT US -----*/
    .contact-us {
        grid-template-columns: 1fr 1fr;
    }

    .contact-us-info {
        margin: auto;
        text-align: left;
        grid-column-start: 2;
        grid-column-end: auto;
        grid-row: auto;
    }

    footer {
        font-size: 1em;
        width: 80%;
        margin: auto;
    }
}