@media only screen and (min-width: 32.5em) {
    .navigation {
        display: flex;
        justify-content: space-evenly;
    }
    
    .navigation li {
		display: block; /* change state in small view */
		/* flex: 1 1 auto; */
    }
    
    .navigation li:first-child {
		display: none;
    }

    /* ARTICLE */

    .weather-article-content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      border-top: #f2e313 2px solid;
      grid-gap: .5em;
    }
  
    .weather-article-content p {
      grid-column: 1/2;
    }

    .weather-article-img {
      grid-column: 2/3;
      grid-row: 1/3;
      padding-top: 20px;
    }

    /* END OF ARTICLE */

    main {
      padding: 0 8rem;
    }

    .weather-forecast {
      display: block;
    }

    /* Forecast Styles */

    .weather-forecast {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .weather-forecast h2 {
      color: yellow;
      grid-column: 1/6;
    }

    .weather-forecast h4 {
      background-color: black;
      text-align: center;
      margin: 0;
      padding: 5px 0;
      color: yellow;
    }

    .weather-forecast p {
      text-align: center;
      color: #a3b4bf;
    }

    .weather-forecast img {
      display: block;
      color: #a3b4bf;
      margin: 0 auto;
    }

}