@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

/* COLORS 
--------------------*/
:root {

    /*-- Neutral Colors --*/
    --dark-grey: #121212;
    --secondary-grey: #bdbdbd;
    --neutral-1000: #24292e;
    --neutral-900: #383f45;
    --neutral-800: #454c52;
    --neutral-700: #596066;
    --neutral-600: #676e76;
    --neutral-500: #7f8790;
    --neutral-400: #9ea5ad;
    --neutral-300: #ced2d6;
    --neutral-200: #e5e7ea;
    --neutral-100: #f6f7f9;

    /*-- Primary Colors --*/
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;

    /*-- Extended Colors --*/
    --ochre-yellow: #f79b19;
    --yellow-500: #ff991f;
    --yellow-400: #ffab00;
    --yellow-300: #ffc400;
    --yellow-200: #ffe380;
    --yellow-100: #fff0b3;

    --dark-red: #8f0031;
    --red-500: #de350b;
    --red-400: #ff5630;
    --red-300: #ff7452;
    --red-200: #ff8f73;
    --red-100: #ffbdad;

    --baby-blue: #00a8cc;
    --blue-500: #00a3bf;
    --blue-400: #00b8d9;
    --blue-300: #00c7e6;
    --blue-200: #79e2f2;
    --blue-100: #b3f5ff;

    --violet-500: #a239a0;
    --violet-400: #c054be;
    --violet-300: #c270c0;
    --violet-200: #d6a9d5;
    --violet-100: #e1c7e0;

    --green-500: #006644;
    --green-400: #00875a;
    --green-300: #36b37e;
    --green-200: #57d9a3;
    --green-100: #abf5d1;
}

/* CORE 
--------------------*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@-ms-viewport {
    width: device-width;
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

body {
    margin: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #212121;
}


[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

dt {
    font-weight: 700;
}

dd {
    margin-bottom: .5rem;
    margin-left: 0;
}

blockquote {
    margin: 0 0 1rem;
}

b,
strong {
    font-weight: bolder;
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sub {
    bottom: -.25em;
}

sup {
    top: -.5em;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

a:not([href]):not([class]) {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none;
}

img {
    vertical-align: middle;
    border-style: none;
}


hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

table {
    border-collapse: collapse;
}

caption {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: #6c757d;
    text-align: left;
    caption-side: bottom;
}

th {
    text-align: inherit;
    text-align: -webkit-match-parent;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

/* HEADER 
--------------------*/
#announcement {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #59C1FF;
    margin: auto;
    height: 50px;
    color: #002D52;
    font-weight: bold;
}

header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    background-color: black;
}

#we-title {
    font-size: 3em;
    color: var(--ochre-yellow);
    margin: 0 .5em 0 .5em;
}

#we-subtitle {
    font-size: 1em;
    color: var(--secondary);
    font-style: italic;
    margin: .5em;
}

#we-logo {
    height: 60px;
    margin: 15px;
}

h1 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 2.5em;
    color: var(--ochre-yellow);
}

h2 {
    font-family: 'Merriweather Sans', sans-serif;
    color: var(--ochre-yellow);
    text-align: center;
}

h3 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 2em;
    margin: 5px;
    color: var(--ochre-yellow);
}

/* NAVBAR 
--------------------*/
nav {
    background-color: var(--neutral-300);
    text-align: center;
}

nav ul li a.active {
    color: var(--dark-grey);
    background-color: #59C1FF;
}

nav ul li a:hover {
    color: #196FFF;
}

.responsive li {
    display: block;
}

.responsiveClose li {
    display: none;
}

.navigation {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.navigation li:first-child {
    display: block;
    text-align: center;
    text-decoration: none;
}

.navigation a {
    display: block;
    padding: .8rem;
    text-align: center;
    color: var(--ochre-yellow);
    font-weight: 500;
}

#menu-toggle {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: white;
}


/* MAIN CONTENT
--------------------*/
.raised {
    margin: 0 30px 0px;
    border-radius: 1px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}


.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.card {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 0.25rem;
}

.card-body {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-title {
    margin-bottom: 0.75rem;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}


.weather-hero {
    position: relative;
}

#hero-img img {
    max-width: 100%;
    margin: 10px auto;
}

#weather-today {
    display: grid;
    background-color: rgb(180, 176, 176);
    border-radius: 12px;
    border: 2px solid black;
    text-align: left;
    position: absolute;
    top: 25px;
    left: 30px;
    padding: 10px;
}

#weather-today span {
    margin-left: 10px;
}

#weather-today ul {
    list-style: none;
}

.fiveDay {
    display: none;
}

#forecast {
    display: grid;
    text-align: left;
}

.article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid black;
    background-color: rgb(180, 176, 176);
    margin-bottom: 10px;
}

#author {
    font-style: italic;
    text-align: center;
    font-size: .8em;
}

.article h3 {
    text-align: center;
}

#content {
    order: 1;
    padding: 10px;
    text-align: center;
}

#articleImg {
    order: 2;
    width: 80%;
    margin: auto;
}

#articleImg img {
    width: 100%;
    border-radius: 12px;
    border: 2px solid black;
}

#articleImg figcaption {
    text-align: center;
    font-style: italic;
}

.contact {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1;
    padding: 10px;
    background-color: rgb(180, 176, 176);
    margin-bottom: 10px;
}

#map {
    max-width: 70%;
    border: 2px solid black;
    border-radius: 12px;
    margin: auto 15%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 2;
}

#mapIcon,
#phone,
#email {
    max-height: 20px;
}

.contactUs {
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid black;
    padding: 10px;
    background-color: rgb(180, 176, 176);
    margin-bottom: 10px;
}

.contact {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1;
}

.social {
    max-width: 25px;
    max-height: 25px;
    padding: 5px;
}

/* FOOTER 
--------------------*/
/* MISC 
--------------------*/


.fiveDay {
    display: none;
}

#forecast-title {
    display: none;
}

#forecast {
    display: grid;
    text-align: left;
}


#author {
    font-style: italic;
    text-align: center;
    font-size: .8em;
}

.article h3 {
    text-align: center;
}

#content {
    order: 1;
    padding: 10px;
    text-align: center;
}

#articleImg {
    order: 2;
    width: 80%;
    margin: auto;
}

#articleImg img {
    width: 100%;
    border-radius: 12px;
    border: 2px solid black;
}

#articleImg figcaption {
    text-align: center;
    font-style: italic;
}

.contact {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1;
    padding: 10px;
    background-color: rgb(180, 176, 176);
    margin-bottom: 10px;
}

#map {
    max-width: 70%;
    border: 2px solid black;
    border-radius: 12px;
    margin: auto 15%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 2;
}

#mapIcon,
#phone,
#email {
    max-height: 20px;
}

.contactUs {
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid black;
    padding: 10px;
    background-color: rgb(180, 176, 176);
    margin-bottom: 10px;
}

.contact {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1;
}

.social {
    max-width: 25px;
    max-height: 25px;
    padding: 5px;
}

footer {
    background-color: #002D52;
    height: 50px;
    width: 100%;
    color: white;
    font-size: .8em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}