@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* COLORS 
--------------------*/
:root {

    /*-- Neutral Colors --*/
    --dark-grey: #121212;
    --secondary-grey: #bdbdbd;
    --neutral-1000: #24292e;
    --neutral-900: #383f45;
    --neutral-800: #454c52;
    --neutral-700: #596066;
    --neutral-600: #676e76;
    --neutral-500: #7f8790;
    --neutral-400: #9ea5ad;
    --neutral-300: #ced2d6;
    --neutral-200: #e5e7ea;
    --neutral-100: #f6f7f9;

    /*-- Primary Colors --*/
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;

    /*-- Extended Colors --*/
    --ochre-yellow: #f79b19;
    --yellow-500: #ff991f;
    --yellow-400: #ffab00;
    --yellow-300: #ffc400;
    --yellow-200: #ffe380;
    --yellow-100: #fff0b3;

    --dark-red: #8f0031;
    --red-500: #de350b;
    --red-400: #ff5630;
    --red-300: #ff7452;
    --red-200: #ff8f73;
    --red-100: #ffbdad;

    --baby-blue: #00a8cc;
    --blue-500: #00a3bf;
    --blue-400: #00b8d9;
    --blue-300: #00c7e6;
    --blue-200: #79e2f2;
    --blue-100: #b3f5ff;

    --violet-500: #a239a0;
    --violet-400: #c054be;
    --violet-300: #c270c0;
    --violet-200: #d6a9d5;
    --violet-100: #e1c7e0;

    --green-500: #006644;
    --green-400: #00875a;
    --green-300: #36b37e;
    --green-200: #57d9a3;
    --green-100: #abf5d1;
}

/* CORE 
--------------------*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color: #212121;
}

[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important;
}

/* HEADER 
--------------------*/
header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: left;
    justify-content: space-between;
    padding: 1rem 1rem;
    background-color: black;
}

#banner {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--neutral-500);
    margin: auto;
    height: 50px;
    color: var(--yellow-500);
    font-weight: bold;
}

h1 {
    font-size: 2em;
    color: var(--yellow-500);
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    margin: 5px;
    color: var(--yellow-500);
    text-decoration: underline;
}

h2 {
    color: var(--yellow-500);
    font-family: 'Roboto', sans-serif;
}

#subtitle {
    font-size: 1em;
    margin: 0 0 20px 0;
    color: var(--secondary);
    text-decoration: none;
    font-style: italic;
}

#title {
    font-size: 2em;
    color: var(--yellow-500);
    margin: 0em;
}


#logo {
    border-radius: 12px;
    height: 60px;
    margin: 10px;
}

/* NAVBAR 
--------------------*/
.nav {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navigation {
    background-color: black;
    position: relative;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: .8rem 2%;
    text-align: center;
    text-decoration: none;
    color: var(--yellow-300);
    font-weight: 500;
}

nav ul li a.active {
    color: var(--yellow);
    text-underline-offset: unset;
}

nav ul li a:hover {
    color: var(--yellow-200);
}


/* MAIN CONTENT
--------------------*/
.main-content {
    background-color: var(--neutral-100);
    margin: -15px 30px 0px;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

p {
    margin: 0 0 10px 0;
    font-size: 1em;
    color: #002D52;
}

section {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

/* FOOTER 
--------------------*/
/* MISC 
--------------------*/



.hero {
    position: relative;
}

#heropic img {
    max-width: 100%;
    margin: 10px auto;
}

#summary {
    display: grid;
    background-color: rgb(180, 176, 176);
    border-radius: 12px;
    border: 2px solid black;
    text-align: left;
    position: absolute;
    top: 25px;
    left: 30px;
    padding: 10px;
}

#summary span {
    margin-left: 10px;
}

#summary ul {
    list-style: none;
}

.fiveDay {
    display: none;
}

#forecast-title {
    display: none;
}

#forecast {
    display: grid;
    text-align: left;
}

.article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid black;
    background-color: rgb(180, 176, 176);
    margin-bottom: 10px;
}

#author {
    font-style: italic;
    text-align: center;
    font-size: .8em;
}

.article h3 {
    text-align: center;
}

#content {
    order: 1;
    padding: 10px;
    text-align: center;
}

#articleImg {
    order: 2;
    width: 80%;
    margin: auto;
}

#articleImg img {
    width: 100%;
    border-radius: 12px;
    border: 2px solid black;
}

#articleImg figcaption {
    text-align: center;
    font-style: italic;
}

.contact {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1;
    padding: 10px;
    background-color: rgb(180, 176, 176);
    margin-bottom: 10px;
}

#map {
    max-width: 70%;
    border: 2px solid black;
    border-radius: 12px;
    margin: auto 15%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 2;
}

#mapIcon,
#phone,
#email {
    max-height: 20px;
}

.contactUs {
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid black;
    padding: 10px;
    background-color: rgb(180, 176, 176);
    margin-bottom: 10px;
}

.contact {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1;
}

.social {
    max-width: 25px;
    max-height: 25px;
    padding: 5px;
}

footer {
    background-color: #002D52;
    height: 50px;
    width: 100%;
    color: white;
    font-size: .8em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}