/*-------------- MAIN CONTENT --------------*/
main {
    padding: 1rem;
}

main h1 {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 1rem;
}

.hero-div {
    background-color: #212026;
    border-top: #f2e313 solid 1px;
    padding-top: 1em;
}

.hero-div h1 {
    color: #f2e313;
    margin-top: 0;
    text-align: center;
}

.hero-div img,
.article img {
    width: 100%;
    margin: 0 auto;
    display: block;
}

.hero-img {
    margin: 5px auto;
    position: relative;
}

.current-weather {
    position: absolute;
    top: 25px;
    right: 50px;
    background: radial-gradient(#eee, #a3b4bf);
    border: 1px solid #000;
    padding: 1rem;
    box-shadow: 0 0 30px #111;
    opacity: .8;
}

.current-weather p {
    margin: 3px 0;
}

.forecast {
    display: none;
}

.article h2 {
    color: #f2e313;
    margin: 19.92px 0 5px 0;
}

.author {
    margin: 0;
}

.article p {
    color: #a3b4bf;
}

.article,
.forecast {
    background-color: #212026;
    padding: 2em;
}

.contact-us {
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid black;
    padding: 10px;
    background-color: rgb(180, 176, 176);
    margin-bottom: 10px;
}

.contact-us-info {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1;
    padding: 10px;
    background-color: rgb(180, 176, 176);
    margin-bottom: 10px;
}

.social-media {
    max-width: 25px;
    max-height: 25px;
    padding: 5px;
}

/*-------------- HEADER --------------*/
header {
    background-color: black;
    color: var(--ochre-yellow);
}

header h1 {
    padding: 0 10px;
    font-weight: 900;
    font-size: 2em;
}

header img {
    height: 100px;
    background-color: black;
    padding: 20px 10px;
}

header .title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    background-color: black;
    color: var(--ochre-yellow);
}

.title p {
    padding: 0 20px;
    font-style: italic;
    font-size: 0.75em;
    text-align: center;
}

#banner {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    background-color: var(--dark-grey);
    margin: auto;
    height: fit-content;
    color: var(--neutral-100);
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

/*-------------- NAVIGATION --------------*/
nav {
    background-color: black;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem
}

nav ul {
    list-style: none;
    padding: 0;
}

nav a:link {
    color: #a3b4bf;
    text-decoration: none;
}

nav a:visited {
    color: #a3b4bf;
}

nav a:hover {
    color: #f2e313;
    font-weight: bold;
}

nav a:active {
    color: blue;
}

.active {
    border-bottom: solid 2px #f2e313;
}

.navigation li:first-child {
    display: block;
    text-decoration: underline;
}

.navigation li {
    display: none;
    padding: 3px 0;
}

.responsive li {
    display: block;
}

/* ----FORECAST---- */

.forecast {
    display: none;
}

/*-------------- FOOTER --------------*/
footer {
    background-color: var(--neutral-1000);
    padding: .5rem 2%;
    text-align: center;
    font-size: 10pt;
    color: var(--ochre-yellow);
}

/*-------------- CORE --------------*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@-ms-viewport {
    width: device-width;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--secondary-grey);
    margin: 1em 0;
    padding: 0;
}

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}

.invisible {
    visibility: hidden;
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.hidden,
[hidden] {
    display: none !important;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--ochre-yellow);
    text-align: left;
    background-color: var(--dark-grey);
}

[hidden] {
    display: none !important
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: .5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.2;
    color: var(--yellow);
}

.h1,
h1 {
    font-size: 2.5rem
}

.h2,
h2 {
    font-size: 2rem
}

.h3,
h3 {
    font-size: 1.75rem
}

.h4,
h4 {
    font-size: 1.5rem
}

.h5,
h5 {
    font-size: 1.25rem
}

.h6,
h6 {
    font-size: 1rem
}

a {
    color: #9c27b0;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:hover {
    color: #0a6ebd;
    text-decoration: underline;
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
    outline: 0;
}

abbr[data-original-title],
abbr[title] {
    text-decoration: underline;
    text-decoration: underline dotted;
    cursor: help;
    border-bottom: 0
}

address {
    font-style: normal;
    line-height: inherit
}

address,
dl,
ol,
ul {
    margin-bottom: 1rem
}

a {
    color: #9c27b0;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:hover {
    color: #0a6ebd;
    text-decoration: underline;
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
    outline: 0;
}

pre {
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
    -ms-overflow-style: scrollbar;
}

figure {
    margin: 0 0 1rem;
}

img {
    vertical-align: middle;
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

table {
    border-collapse: collapse;
}

caption {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: #6c757d;
    text-align: left;
    caption-side: bottom;
}

th {
    text-align: inherit;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

button {
    border-radius: 0;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
    -webkit-appearance: listbox;
}

textarea {
    overflow: auto;
    resize: vertical;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.no-gutters {
    margin-right: 0;
    margin-left: 0
}

.no-gutters>.col,
.no-gutters>[class*=col-] {
    padding-right: 0;
    padding-left: 0
}

/*-------------- COLOR SCHEME --------------*/
/*action colors*/
:root {
    --dark-grey: #121212;
    --primary-blue: #303f9f;
    --secondary-grey: #bdbdbd;
    --confirm-green: #00897b;
    --warning-amber: #303f9f;
    --remove-red: #c6282b;
    --help-purple: #673ab7;

    /*neutral colors*/
    --neutral-1000: #24292e;
    --neutral-900: #383f45;
    --neutral-800: #454c52;
    --neutral-700: #596066;
    --neutral-600: #676e76;
    --neutral-500: #7f8790;
    --neutral-400: #9ea5ad;
    --neutral-300: #ced2d6;
    --neutral-200: #e5e7ea;
    --neutral-100: #f6f7f9;

    /*secondary colors*/
    --dark-red: #8f0031;
    --ochre-yellow: #f79b19;
    --sea-green: #028fa3;
    --baby-blue: #00a8cc;
    --violet: #91198e;

    /*extended colors*/
    --yellow-500: #ff991f;
    --yellow-400: #ffab00;
    --yellow-300: #ffc400;
    --yellow-200: #ffe380;
    --yellow-100: #fff0b3;

    --red-500: #de350b;
    --red-400: #ff5630;
    --red-300: #ff7452;
    --red-200: #ff8f73;
    --red-100: #ffbdad;

    --blue-500: #00a3bf;
    --blue-400: #00b8d9;
    --blue-300: #00c7e6;
    --blue-200: #79e2f2;
    --blue-100: #b3f5ff;

    --violet-500: #a239a0;
    --violet-400: #c054be;
    --violet-300: #c270c0;
    --violet-200: #d6a9d5;
    --violet-100: #e1c7e0;

    --green-500: #006644;
    --green-400: #00875a;
    --green-300: #36b37e;
    --green-200: #57d9a3;
    --green-100: #abf5d1;

    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #ffffff;
}