@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body {
    font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
    background-color: #fff;
}

h1, h2, h3, h4, h5 {
	color:#2a70e0;
	font-weight: 800;
	font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
}

#header-font {
    font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
    font-weight: 600;
}

header {
    padding: 20px 0;
}

header .row,
footer .row {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    justify-content: flex-end;
}

a {
    padding: 0 20px;
    margin: 0;
}

.jumbotron {
    display: flex;
    align-items: center;
    background-size: cover;
    color: #ffffff;
    height: 500px;
}

#bg-overlay{
    background-color: rgba(0,0,0,0.8);
}

.jumbotron h2 {
    font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
    font-size: 80px;
    font-weight: 800;
    margin: 0;
    color: #0084ff;
}

.jumbotron h3 {
    font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
    font-size: 40px;
    font-weight: 600;
    margin: 50px;
    color: #0084ff;
}

section .row img {
    margin: 0 0 30px;
    width: 100%;
}

.col-md-6 {
    margin: 0 0 30px;
}

.btn.btn-primary {
    border-radius: 2px;
    border: 0px;
    color: #fbd1d5;
    background-color: #ffffff;
}

.btn.btn-primary:hover {
    color: #ffffff;
    background-color: #fbd1d5;
}

.btn-secondary {
    background-color: #2a70e0;
    color: #ffffff;
    margin: 0 0 30px;
}

.portrait {
	border-radius:80%;
	width:50%;
	max-width: 200px;
}

#family-portrait {
    border-radius:85%;
	width:50%;
	max-width: 300px;
}

figure img {
    width: 100%;
    height: auto;
}

figure {
    margin-bottom: 30px;
}

.techlogo {
	width:150px;
}

.tech-item {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
}

.tech-item-text {
    margin-top:10px;
}

.tech-item i {
    font-size:5em;
}

.tech-tool-item {
	margin-left:15px;
    display: inline-block;
}

footer {
    font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;
    padding: 40px 0;
}

footer .col-sm-8 {
    display: flex;
    justify-content: flex-end;
}

footer ul {
    list-style: none;
}

.profile-pic {
	border-radius:50%;
	width:50%;
	max-width: 175px;
}