@media only screen and (min-width: 768px) {
   

    main {
        margin: 0 auto;
        font-size: 20px;
    }
    

    header h1 {
        font-size: 3.0em;
    }

    header p {
        font-size: 1.5em;
    }
    
    #snowboard{
        position: relative;
        margin: 10px auto;
          width: 100%;
          max-height: 250px;
        
        }
    
    .navigation {
        display: flex;
        
    }

    .navigation li{
        display:block;
        flex: 1 1 100%;
    }
    nav {
        font-size: 1.0em;
        text-align: center;
        padding: 14px 20px;
        
    }

    header img {
        width: 100px;
    }

    #weathersummary{
        visibility: visible;
        position: absolute;
        top: 400px;
        padding: 1.5rem;
        box-shadow: 0 0 30px #111;
        opacity: .8;
        background-color: #C0D6DF;
	    border: 1px solid #DA5F2F;
    }
    .navigation li:first-child {
        display: none;
    }

    
    #sky{
        height:150px;
        float:right;
    }
    

    /*footer {
        font-size: 1em;
        max-width: 600px;
    }*/

    #socials{
        display:block;
    }


    footer{
    width:100%;
    height:20%; 
    bottom:0;
    left:0;
    background-color:#C0D6DF;
    text-align:center;
    }

    nav li {
        display: inline-block;
    }


}