body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #1976D2;
    text-align: left;
}

h1,
h2,
h3,
h4,
h5 {
    color: #FFA000;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

p {
    margin: 0 0 10px 0;
    font-size: 1em;
}

#banner {
    background-color: #d32f2f;
    color: #455A64;
    text-align: center;
}


main {
    padding: 1.0em;
    text-align: center;
}


header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
    color: #DA5F2F;
    padding: 1em;
}

header img {
    width: 50px;
    padding: .5em;
}


nav {
    background-color: #455A64;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.navigation {
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navigation li:first-child {
    display: block;
    font-weight: bold;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 0.95rem;
}

.navigation li {
    display: none;
    border-right: 1px solid white;
}

.navigation a {
    display: block;
    padding: .8rem 2%;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 700;
}

nav ul li a.active {
    color: #212121;
    background-color: #1976D2;
}

nav ul li a:hover {
    color: #1976D2;
}

.responsive li {
    display: block;
}

.responsiveClose li {
    display: none;
}

#toggleMenu {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: white;
}


.button {
    color: black;
    font-size: 1em;
    text-align: right;
    margin-right: 30px;

}

.responsive li {
    display: block;
}

#snowboard {
    position: relative;
    margin: 10px auto;
    width: 100%;
    max-height: 250px;

}

/*nav a:link {
    color: #080B0D;
}*/


.title {
    color: #FFA000;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    display: block;
    padding: .5em;
    margin: .5em;

}

#socials {
    display: none;
}

#weathersummary {
    padding: 2em;
    opacity: .75;
    background-color: #212121;
    border: 0.5px solid #455A64;

}


#sky {
    float: none;
}

footer {
    background-color: #455A64;
    color: #212121;
    height: auto;
    width: auto;
    display: flex;
    text-align: center;
    margin: 0 auto;
    flex-direction: column;

}

/*Color Scheme

dark-grey #212121
blue-grey #455A64
blue-700 #1976D2
amber-700 #FFA000
red-700 #d32f2f
*/