/*-------------- HEADER --------------*/
header {
    display: flex;
    padding: 5px 0;
    align-items: center;
    justify-content: center;

}

header img {
    width: 100px;
    height: auto;
    margin: 8px;
    box-shadow: none;
}

.pageinfo {
    font-family: 'Playfair Display', serif;
    background-color: transparent;
    border: none;
    text-align: center;
}

h4#catchphrase{
    font-style: italic;
    color: #ff5630;
    margin: 0 0 0 17px;
    font-size: .9rem;
    
 }

/*-------------- NAVBAR --------------*/
nav button {
    margin: .2rem 2%;
    padding: 10px;
    background-color: transparent;
    border: none;
    font-size: 1.4rem;
    color: white;
    font-family: 'Playfair Display', serif;
}

nav {

    background: #cecece;
    /* Old browsers */
    background: linear-gradient(to bottom, #cecece 0%, #444444 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

nav ul {

    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: flex;
    padding: .8rem 4%;
    text-decoration: none;
    color: whitesmoke;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    /*! flex: 1 1 100%; */
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

nav ul li.active a {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

nav ul.hide {
    display: none;
}

/*-------------- MAIN CONTENT --------------*/
.weather {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 150px;
    height: 150px;
    padding: 10px;
    /*! margin: 0 auto; */
    border: 1px solid black;
    box-shadow: 0 0 20px whitesmoke;
    position: relative;
    text-align: center;
    background-color: lightgoldenrodyellow;
    line-height: .2rem;
    top: 200px;
}

.weather h4 {
    grid-column: 1/2;
    grid-row: 1;
    line-height: .8rem;
    height: 5px;
}

.details {
    grid-row: 2;
    grid-column: 1;
    text-align: right;
    padding: 3px;
}

.results {
    grid-row: 2;
    grid-column: 2;
    text-align: center;
    padding: 3px;
}

img {
    width: 100%;
    height: 300px;
    align-items: center;
    margin: 0 auto;
    box-shadow: 0 0 10px grey;
}

.Forecast h2 {
    display: none;
}

.Forecast p {

    display: none;
    border: 1px solid black;
    border-right: 1px solid black;
}

.info a {
    color: lightblue;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*-------------- FOOTER --------------*/
footer {

    padding: 5px 10px;
    background: #cecece;
    font-size: 1.0em;
    color: whitesmoke;
}


/*-------------- CORE --------------*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

@-ms-viewport {
    width: device-width;
}

body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: var(--dark-grey);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}


/*--------------COLOR SCHEME--------------*/
/*ACTION*/
:root {
    --dark-grey: #121212;
    --primary-blue: #303f9f;
    --secondary-grey: #bdbdbd;
    --confirm-green: #00897b;
    --warning-amber: #303f9f;
    --remove-red: #c6282b;
    --help-purple: #673ab7;
}

/*NEUTRAL*/
:root {
    --neutral-1000: #24292e;
    --neutral-900: #383f45;
    --neutral-800: #454c52;
    --neutral-700: #596066;
    --neutral-600: #676e76;
    --neutral-500: #7f8790;
    --neutral-400: #9ea5ad;
    --neutral-300: #ced2d6;
    --neutral-200: #e5e7ea;
    --neutral-100: #f6f7f9;
}

/*SECONDARY*/
:root {
    --dark-red: #8f0031;
    --ochre-yellow: #f79b19;
    --sea-green: #028fa3;
    --baby-blue: #00a8cc;
    --violet: #91198e;
}

/*EXTENDED*/
:root {
    --yellow-500: #ff991f;
    --yellow-400: #ffab00;
    --yellow-300: #ffc400;
    --yellow-200: #ffe380;
    --yellow-100: #fff0b3;

    --red-500: #de350b;
    --red-400: #ff5630;
    --red-300: #ff7452;
    --red-200: #ff8f73;
    --red-100: #ffbdad;

    --blue-500: #00a3bf;
    --blue-400: #00b8d9;
    --blue-300: #00c7e6;
    --blue-200: #79e2f2;
    --blue-100: #b3f5ff;

    --violet-500: #a239a0;
    --violet-400: #c054be;
    --violet-300: #c270c0;
    --violet-200: #d6a9d5;
    --violet-100: #e1c7e0;

    --green-500: #006644;
    --green-400: #00875a;
    --green-300: #36b37e;
    --green-200: #57d9a3;
    --green-100: #abf5d1;

    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
}