@media only screen and (min-width: 640px) {

    /*--- HOME ---*/
    #town-cards {
        grid-template-columns: 1fr;
    }

    #town-cards .towns-card-gallery {
        flex-flow: row nowrap;
        text-align: center;
    }

    #town-cards #soda_springs {
        flex-flow: row-reverse nowrap;
    }

    .towns-card-gallery img {
        max-width: 50%;
    }

    /*--- PRESTON TOWN ---*/
    #hero img {
        max-width: 75%;
        position: relative;
        border-radius: 0.25rem;
        box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    }

    #weather-today {
        width: 250px;
        font-size: 1em;
        border-radius: 0.25rem;
        box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    }

    .weather-forecast {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 5px;
        justify-content: center;
        border-radius: 0.25rem;
        box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    }

    #weather-forecast-title {
        display: block;
        margin-top: 2rem;
    }

    #forecast-1,
    #forecast-2,
    #forecast-3,
    #forecast-4,
    #forecast-5 {
        border: 1px solid black;
        padding: 5px;
        background-color: var(--dark-grey);
        margin: 5px;
        border-radius: 0.25rem;
        box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    }

    #forecast-1 {
        grid-column: 1;
    }

    #forecast-2 {
        grid-column: 2;
    }

    #forecast-3 {
        grid-column: 3;
    }

    #forecast-4 {
        grid-column: 4;
    }

    #forecast-5 {
        grid-column: 5;
    }

    .forecast-icon {
        width: 100%;
    }

    .weather-forecast h3 {
        text-align: center;
    }

    .weather-article {
        display: block;
        border-radius: 0.25rem;
        box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    }

    #article-image {
        width: 50%;
        margin: .5rem;
        float: right;
        border-radius: 0.25rem;
        box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    }

    #article-body {
        grid-column: 1;
        text-align: left;
    }

    #mapLink {
        margin: auto;
    }

    .contact-us {
        grid-template-columns: 1fr 1fr;
        background-color: var(--dark-grey);
        border-radius: 0.25rem;
        box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    }

    .contact-items {
        padding: 3rem;
        background-color: var(--neutral-1000);
        border-radius: 0.25rem;
        box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
        grid-column-start: 2;
        grid-column-end: auto;
        grid-row: auto;
    }

    #map {
        grid-column-start: 1;
        grid-column-end: auto;
        grid-row: auto;
    }

    /*--- SODA SPRINGS ---*/
    /*--- FISH HAVEN ---*/
    /*--- STORMCENTER ---*/
    #user-comments {
        height: 100%;
        max-height: 20rem;
        width: 100%;
        max-width: 20rem;
    }

    form label.top input,
    form label.top select {
        max-width: 20rem;
    }

    /*--- GALLERY ---*/
    /*--- CORE ---*/
    .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }

    .row-cols-3 > * {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    header {
        height: 125px;
        justify-content: flex-start;
    }

    .main {
        background: var(--neutral-100);
        position: relative;
        z-index: 3;
    }

    .main-raised {
        margin: -50px 30px 0;
        border-radius: 0.25em;
        box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    }

    #header-h1 {
        font-size: 3rem;
        font-weight: 900;
        color: var(--ochre-yellow);
        text-align: center;
    }

    #we-logo {
        height: 100px;
        margin-left: 47%;
    }

    .nav-bar {
        display: flex;
    }

    .nav-bar li {
        display: block;
        flex: 1 1 auto;
    }

    .nav-bar a {
        text-align: center;
    }

    .nav-bar li:first-child {
        display: none;
    }

    footer {
        background-color: black;
        color: var(--ochre-yellow);
        text-align: center;
        padding: 1rem;
    }

    footer a {
        color: var(--ochre-yellow);
    }
}